

<!-- <ul class="menu vh-100">
  <li class="menu_list">
      <span class="front pi pi-desktop"></span>
      <a href="#" class="side">home</a>
  </li>
  <li class="menu_list">
      <span class="front fas fa-info"></span>
      <a href="#" class="side">about</a>
  </li>
  <li class="menu_list">
      <span class="front fas fa-briefcase"></span>
      <a href="#" class="side">projects</a>
  </li>
  <li class="menu_list">
      <span class="front fas fa-paper-plane"></span>
      <a href="#" class="side">contact</a>
  </li>
</ul> -->

<nav>
  <div class="logo-name">
      <div class="logo-image">
          <img src="../../../../assets/img/logo.png" alt="logo">
      </div>

      <span class="logo_name">DMG</span>
  </div>

  <div class="menu-items">
      <ul class="nav-links">
          <li><a routerLink="/administration/users">
              <i class="uil uil-estate"></i>
              <span class="link-name">Administracion de usuarios</span>
          </a></li>
          <li><a routerLink="/administration/roles">
              <i class="uil uil-files-landscapes"></i>
              <span class="link-name">Administracion de roles</span>
          </a></li>
          <li><a href="#">
              <i class="uil uil-chart"></i>
              <span class="link-name">Item</span>
          </a></li>
          <li><a href="#">
              <i class="uil uil-thumbs-up"></i>
              <span class="link-name">Item</span>
          </a></li>
          <li><a href="#">
              <i class="uil uil-comments"></i>
              <span class="link-name">Item</span>
          </a></li>
          <li><a href="#">
              <i class="uil uil-share"></i>
              <span class="link-name">Item</span>
          </a></li>
      </ul>

      <ul class="logout-mode">
          <li><a href="#">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
          </a></li>

          <!-- <li class="mode">
              <a href="#">
                  <i class="uil uil-moon"></i>
              <span class="link-name">Dark Mode</span>
          </a>

          <div class="mode-toggle">
            <span class="switch"></span>
          </div>
         </li> -->
      </ul>
  </div>
</nav>



