<div class="container vh-100 justify-content-center align-items-center mt-5 mb-5">
  <div class="row ">
    <div class="card w-75 container d-flex align-items-center justify-content-center shadow p-3 mb-5 bg-body rounded">
      <img src="../../../../assets/img/password.png" alt="user" class="rounded mx-auto d-block card-img-top" style="width: 30%;height: 50%;">
      <div class="card-body w-75">
        <form>
          <div class="container">
            <div class="row mt-4">
              <span class="p-float-label p-input-icon-left">
                <i class="mx-2 pi pi-user"></i>
                <input id="email" class="p-inputtext-sm w-100" type="text" pInputText >
                <label for="email">Email</label>
            </span>
            </div>
            <div class="row mt-5">
              <button pButton pRipple type="button" class="p-button-raised p-button-success" label="enviar" icon="pi pi-check"></button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

