<app-navbar></app-navbar>
<section class="dashboard ">
  <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>

      <!-- <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here...">
      </div> -->

      <img src="../../../assets/img/profile.png" alt="profile">
  </div>

  <div class="dash-content">
      <div class="overview">
          <div class="title">
              <!-- <i class="uil uil-tachometer-fast-alt"></i> -->
              <span class="text">Home</span>
          </div>
      </div>

      <div class="activity">
          <div class="activity-data">
             <!-- Content -->
          </div>
      </div>
  </div>
</section>

<script>


</script>
